*.iml
.gradle
/local.properties
/cadangan/
/.kotlin/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deviceManager.xml
/.idea/planningMode.xml
/.idea/deploymentTargetDropDown.xml
/.idea/shelf/
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/navitor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/local.properties
